################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Suresh.BookStore/.vs/Suresh.BookStore/v16
/Suresh.BookStore/Suresh.BookStore/obj
